.headerWrapper{
display: flex;
justify-content: space-between;
align-items: center;
/* border: solid; */
}
.auth-link ul{
    display: flex;
    list-style: none;

}

.auth-link ul li{
    margin:  15px 8px 0 8px;
    
}
.auth-link ul li a{
    text-transform:uppercase;
    text-decoration: none;
    color:rgb(47, 46, 46);
    font-weight: 550;
}